@model IEnumerable<JobPortal.Models.Egitim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KurumAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EgitimBaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Derece)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YilindanItibaren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YilinaKadar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulke)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KurumAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EgitimBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Derece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YilindanItibaren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YilinaKadar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sehir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personel.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulke.Ulke1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EgitimId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EgitimId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EgitimId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
